.flex {
  display: flex;
  gap: 14px;
  margin: 30px 0;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 44px;
  padding: 12px;
  background-color: var(--color-gray-200);
  border-radius: 6px;
  cursor: pointer;
}
.dots {
  min-width: 44px;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color:var(--color-gray-200)
}
.highlighted {
  background: #833AB4;
  background: linear-gradient(174deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 100%, rgba(252, 176, 69, 1) 50%);
}
.arrow {
  transform: rotate(180deg)
}