.container {
  display: flex;
  position: relative;

  min-width: 100%;
  overflow: hidden;
  padding: 20px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 55px 55px var(--color-black);

  }
  &::after{
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 55px 55px var(--color-black);

  }

}
.window {
  display: flex;
  transition: transform 200ms ease-out;

}