.card {
  border-radius: 12px;
  padding: 5px;
  margin-bottom: 3px;
  background-color: var(--color-white);
  color: var(--color-gray-200);
  display: flex;
}
.imgWrapper {
  width: 60px;
  border-radius: 12px;
  overflow: hidden;
}
.img {
  width: 100%;
  object-fit: cover;
}
.title {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-gray-200)
}
.rating {
  margin-left: 5px;
  border-radius: 5px;
  padding: 3px 5px;
  background-color: var(--color-gray-200);
  color: var(--color-white);
  opacity: 0.6;
}
.year {
  font-weight: bold;
  font-size: 14px;
}