.button {
  font-size: 16px;
  margin: 20px;
  padding: 8px 12px;
  background-color: var(--color-gray-100);
  color: var(--color-white);
  border-radius: 12px;
  cursor: pointer;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}