.nav {
  display: flex;
  align-items: center;
  a {
    margin-left: 24px;
    display: flex;
    align-items: center;
    height: 100%;
  }
}
.link {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: 8px;
  color: var(--color-white);
  opacity: .8;
  font-weight: 400;
  font-size: 16px;
  transition: opacity;
  transition-duration: 200ms;
  &:hover {
    opacity: 0.9;
  }
  svg {
    margin-right: 8px;
  }
}