.header {
  z-index: 999999;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  top: 0;
  transition-property: top;
  transition-duration: (0.2s);
  background-color: var(--color-black);
  padding: 0 80px;
}
.fixed {
  transition-property: top;
  transition-duration: (0.2s);

  top: -75px;
}

